n8n.json
{
  "name": "Bookleaf Support - Ask Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baton-parking-folic.ngrok-free.dev/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"customer_email\": $json.body.customer_email, \"question\": $json.body.question } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2",
      "name": "Call Support API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.human_handoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5",
      "name": "Needs Human?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "3",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [950, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.answer, \"human_handoff\": true, \"note\": \"A support agent will follow up by email shortly.\" } }}"
      },
      "id": "6",
      "name": "Respond Handoff",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 503,
        "responseBody": "={{ { \"error\": \"AI support service unavailable, please try again shortly.\" } }}"
      },
      "id": "4",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 460]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Call Support API", "type": "main", "index": 0 }]]
    },
    "Call Support API": {
      "main": [
        [{ "node": "Needs Human?", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Needs Human?": {
      "main": [
        [{ "node": "Respond Handoff", "type": "main", "index": 0 }],
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  }
}